<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/test/" novalidate enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{obj.user.label}}{{obj.user}}</p>
        <p>{{obj.age.label}}{{obj.age}}{{obj.errors.age.0}}</p>
        <p>{{obj.email.label}}{{obj.email}}</p>
        <p>{{obj.img.label}}{{obj.img}}</p>
        <p>{{obj.city.label}}{{obj.city}}</p>
        <p>{{obj.hobby.label}}{{obj.hobby}}</p>
        <p>{{obj.selectA.label}}{{obj.selectA}}</p>
        <p>{{obj.selectB.label}}{{obj.selectB}}</p>
        <p>{{obj.Multiselect.label}}{{obj.Multiselect}}</p>
        <p>{{obj.checkboxuser.label}}{{obj.checkboxuser}}</p>
        <p>{{obj.Multicheckbox.label}}{{obj.Multicheckbox}}</p>
        <input type="submit" value="提交" />
    </form>
</body>
</html>